<form #f='ngForm' (ngSubmit)='onSubmit(f)'>
  <h2>Recuperar contraseña de Vape Club SV</h2>
  <mat-card-content>
    <h6 class='mb-3' style='font-weight: normal'>
      Ingresa tu nueva contraseña y haz click en enviar para restablecer tu contraseña
    </h6>
    <mat-form-field>
      <input matInput type="password" placeholder='Contraseña' [(ngModel)]='password' name='password' required
        [readonly]='f.submitted'>
      <mat-error *ngIf='f.controls?.password?.invalid'>Ingresa tu nueva contraseña</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder='Confirmar contraseña' [(ngModel)]='confirmPassword' name='confirmPassword'
        required [pattern]='f.password' [readonly]='f.submitted'>
      <mat-error *ngIf='f.controls?.confirmPassword?.invalid && !f.controls?.confirmPassword?.hasError("pattern")'>Vuelve
        a ingresar tu nueva contraseña</mat-error>
      <mat-error *ngIf='f.controls?.confirmPassword?.hasError("pattern")'>Las dos contraseñas deben ser iguales</mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button type='submit' [disabled]='f.invalid || f.submitted'>Enviar</button>
    <button mat-button [disabled]='f.submitted'>Cancelar</button>
  </mat-card-actions>
</form>