<div class="row">
  <div class="col-12 mb-3">
    <mat-card>
      <mat-card-content>
        <!-- <mat-card-title> -->
        <h3 class='text-center'>{{ mode === "pagar" ? "Pagando pedidos" : "Pedidos"}}</h3>
        <!-- </mat-card-title> -->
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12">
    <!-- <mat-card>
      <mat-card-content> -->
    <router-outlet></router-outlet>
    <!-- </mat-card-content>
    </mat-card> -->
  </div>
</div>
<app-orders-mode (selectMode)='onSelectMode($event)'></app-orders-mode>