<form #f='ngForm' (ngSubmit)='onSubmit(f)'>
  <h2 mat-dialog-title>¿Olvidaste tu contraseña?</h2>
  <mat-dialog-content>
    <h6 class='mb-3' style='font-weight: normal'>Ingresa tu correo electrónico y te enviaremos un mensaje para que
      puedas restablecer tu contraseña</h6>
    <!-- <div class="row"> -->
    <!-- <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto text-center"> -->
    <mat-form-field>
      <input matInput type="email" placeholder='Correo electrónico' [(ngModel)]='email' name='email' required email
        [readonly]='f.submitted'>
      <mat-error *ngIf='f?.controls?.email?.invalid && f?.controls?.email?.hasError("email")'>Ingresa tu correo
        electrónico</mat-error>
      <mat-error *ngIf='f.controls?.email?.hasError("email")'>Ingresa un correo electrónico válido
        (usuario@dominio.com)</mat-error>
    </mat-form-field>
    <!-- </div> -->
    <!-- </div> -->
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type='submit' [disabled]='f.invalid || f.submitted'>Enviar</button>
    <button mat-button mat-dialog-close [disabled]='f.submitted'>Cancelar</button>
  </mat-dialog-actions>
</form>